:root {
    --color-:#D6A322;
    --color-:#F2F2F2 ;
    --color-:#FCBA13 ;
    --color-:#222222 ;
    --color-:#24221C ;
    --color-:#444444 ;
    --color-:#CCCCCC ;
    --color-: hsl(0, 0%, 100%);
    --color-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  
  *, *::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  @page {
    size: auto;
    margin: 0;
}

  body {
    display: flex;
     margin: 1.5rem;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(159.66deg, rgba(34, 34, 34, 0.8) 27.04%, #111111 74.62%), url(images/mobile-bg-red-label.png)  ;
/* background-position: 10px; */
background-repeat: no-repeat;


  }


  /* .container{
    position: relative;
  } */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0.5rem;
}

.card{
  margin-top: 5rem;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}


  .logo{
    width: 15rem;
   
  }



.bottle-card{
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 290px;
}

.bottle{
  width: 500px;
  margin-left: 5rem;
}

.text-content{
  margin-top: 2rem;
  display: grid;
  grid-gap: 30px;
}

.text{
  display: grid;
  grid-gap: 22px;
  text-align: left;
}

h1{
  font-weight: 700;
  color: #D6A322;
}

p{
  font-weight: 400;
  color: #F2F2F2;
}



.button-50 {
  appearance: button;
  background-color: #D6A322;
  background-image: none;
  border: 1px solid #000;
  box-shadow: #000 4px 4px 0 0,#D6A322 4px 4px 0 1px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
font-size: 1.1rem;
  font-weight: 500;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 220px;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}


hr{
  border: #444444 1px solid;
  color: #444444;
}

footer{  
  height: 10vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.footer-text{
  color: #CCCCCC;
}